<h1><%= @doctor.name %></h1>
<h3>Department: <%= @doctor.department %></h3>

<h2>Appointments:</h2>
<ul>
  <%  @doctor.appointments.each  do |apmt| %>
  <li><%= apmt.appointment %> with: <%= link_to apmt.patient_name,  apmt.patient %></li>
  <% end %>
</ul>
