<h2>The Date: <%= @appointment.appointment_date%></h2>
<h2>The Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>
<h2>The Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>

<!--
- can ommit doctor_path
- can ommit patient_path
-->