<h3>Date: <%= @appointment.appointment  %></h3>
<h3>Doctor: <%= link_to @appointment.doctor_name,  @appointment.doctor %></h3>
<h3>Patient: <%= link_to @appointment.patient_name,  @appointment.patient  %></h3>
